


* {
    font-family: calibri;
    background-color: #EDEDE3;
}


.heading {
    padding-left: 300px;
    font-size: 16px;
}



.flow{
    padding-left: 300px;
    width:650px;   
    
}

#navright {    
    float:right;
    width:200px;
    padding-right: 200px;
    
    
}

/*links*/
.nextpagelink:hover {    
    color:red;
}

.nextpagelink {    
    color:blue;
}



/*images*/
.screen {
     
  width:850px;
  height: auto;
  border-style: solid;
 
}

.screen2 {
     
  width:500px;
  height: auto;
  border-style: solid;
  display:block;
 
}







.chartsize {       
    width:350px;    
    height: auto;    
}



/*green highlight*/
.highlight {
   color:#008A2E;
}

#disclaimer {
    border-style:solid;
   border-color: #008A2E;
    width:550px;
   
}

code {
    color:red;
}








